
.container {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    width: 90%;
    padding: 10px 0px;
    text-align: center;
    margin: auto;
}

.container .card {
    min-width: 1610px;
    max-width: 1620px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
    margin: 0 auto;
    z-index: 4 !important;
    position: relative;
    background: linear-gradient(#141e30, #243b55);
    background: #16181a;
    border-top: 1px solid #3b3d3f;
    background: hsl(232deg 18% 8%);
}