.glider {
    width: 12%;
    min-width: 10%;
    padding: 0px 13px;
    height: 20px;
    border-radius: 5px 5px 0 0;
    position: absolute;
    background-color: #A100FA;
    transition: all 0.3s;
    top: 68px;
    z-index: 2;
    left: 1.1%;

}

#tab-1:checked~.glider {
    left: 1.1%;

}

#tab-2:checked~.glider {
    left: 15.4%;

}

#tab-3:checked~.glider {
    left: 29.5%;
}

#tab-4:checked~.glider {
    left: 43.6%;
}

#tab-5:checked~.glider {
    left: 57.7%;
}

#tab-6:checked~.glider {
    left: 71.9%;
}

#tab-7:checked~.glider {
    left: 86%;
}