#wrap {
    margin: 2em;
    width: 100%;
    max-width: 900px;
    padding: 1em;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}

#wrap h1 {
    padding-bottom: 25px;
    font-size: 3.25em;
    font-weight: 100;
}

#wrap .new-patient-content {
    position: relative;
    padding: 44px 55px;
    background: #fff;
    z-index: 10;
}

.new-patient-content .inputbox {
    overflow: hidden;
    position: relative;
    padding: 15px 0 28px 200px;
}

.inputbox-title {
    position: absolute;
    top: 15px;
    left: 0;
    width: 200px;
    height: 30px;
    color: #666;
    font-weight: bold;
    line-height: 30px;
}

.inputbox-content {
    position: relative;
    width: 100%;
}