@import url("https://use.typekit.net/ovt6ynt.css");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Spectral:wght@200;300;400;500;600;700;800&display=swap");

body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "Roboto", sans-serif;

}

.title {
    text-align: center;
    padding: 50px 0px 25px 0;
    font-size: 44px;
    font-weight: 600;
    color: #21222c;
    font-family: "Playfair Display SC";
}

.wrapper {
    background-color: #f6f8ff;
    width: 100%;
    min-height: 100vh;
    min-width: 90vh;
    background: transparent;
    opacity: 1;
}

.wrapper.pre {
    background-size: cover !important;
    background: url(https://images.unsplash.com/photo-1523633589114-88eaf4b4f1a8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3870&q=80);
    background: url(https://images.unsplash.com/photo-1462556791646-c201b8241a94?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2896&q=80);
    position: absolute;
    top: 0;
    z-index: -2;
    opacity: 0.75;
    background: url(https://assets.codepen.io/4927073/mybg.jpg);
}

.wrapper .line {
    width: 90%;
    margin: 25px auto 0 auto;
    height: 2px;
    background-color: #ff7300;
}

.container {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    width: 90%;
    padding: 10px 0px;
    text-align: center;
    margin: auto;
}

.container .card {
    min-width: 1610px;
    max-width: 1620px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
    margin: 0 auto;
    z-index: 4 !important;
    position: relative;
    background: linear-gradient(#141e30, #243b55);
    background: #16181a;
    border-top: 1px solid #3b3d3f;
    background: hsl(232deg 18% 8%);
}

#content-input {
    appearance: none;
    border: none;
    outline: none;
    border-bottom: .2em solid #A100FA;
    background: rgba(0, 0, 0, 0);
    border-radius: .2em .2em 0 0;
    padding: .4em;
    color: #ccc;
    opacity: 1;
    height: 1.7rem;
    width: 1200px;
    margin-right: 6rem;
    font-size: 1.7rem;
}

.btnAdd {
    width: 200px;
    height: 50px;
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btnAdd:before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-btnAdd 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-btnAdd {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.btnAdd:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.tabs {
    text-align: center;
    /* position: relative; */
    font-size: 4rem;
    margin: 0 10px 0 10px;
}

.tabs input {
    position: relative;
    opacity: 0;
    margin: auto;
    padding: 0;
}


.tabs input+label:hover {
    color: #777;
}

.tabs .tabsShadow {
    width: 100%;
    padding: 10px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.04);
    box-sizing: border-box;
    position: absolute;
    height: 35px;
    z-index: 0;
    top: 0;
    pointer-events: none;
}

.tabs input+label {
    margin: 12px;
    width: 10%;
    min-width: 10%;
    max-width: 10%;
    transition: all 0.3s;
    text-align: center;
    border: none;
    border-bottom: 0.5pt solid #1d1e22;
    color: #e7e9f5;
    display: inline-flex;
    -webkit-box-pack: center;
    padding: 5pt 10pt;
    vertical-align: top;
    justify-content: flex-start;
    background: #333;
    box-shadow: 1px 1px 2px 1px #231f20;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.1rem;
    background: #26292c;
    margin-bottom: 0.5px;
    border-radius: 7px 7px 0 0 !important;
    border-top: 1px solid #3b3d3f;
    letter-spacing: 0.1666666667em !important;
    font-family: "antique-olive" !important;
    background: hsl(232deg 6% 17%);
    cursor: pointer;
}

.content .item {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    position: absolute;
    padding: 10px 20px;
}

.item.checked {
    opacity: 1;
    visibility: visible;
}

.content {
    margin: 10px auto 0px auto;
    text-align: left;
    line-height: 20px;
    height: 70vh;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    border-radius: 5px;
    border: 2px solid #A100FA;
    display: block;
    padding: 1.25rem;
    z-index: 2;
    background: hsl(232deg 16% 15%);
    position: relative;
    overflow: hidden;
}

.content p {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 20px;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
    transition: 300ms ease-in-out;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0.5rem 0.5rem 0.5rem 2rem;
    flex: 90%;
}

.content p.done {
    text-decoration: line-through;
}

.checkbox-wrapper-57 input[type="checkbox"] {
    visibility: hidden;
    display: none;
}

.checkbox-wrapper-57 *,
.checkbox-wrapper-57 ::after,
.checkbox-wrapper-57 ::before {
    box-sizing: border-box;
}

.checkbox-wrapper-57 .container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 25px;
    user-select: none;
}

/* Create a custom checkbox */
.checkbox-wrapper-57 .checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
    background: black;
    border-radius: 50px;
    transition: all 0.7s;
    --spread: 20px;
}

/* When the checkbox is checked, add a blue background */
.checkbox-wrapper-57 .container input:checked~.checkmark {
    background: black;
    box-shadow: -10px -10px var(--spread) 0px #5B51D8, 0 -10px var(--spread) 0px #833AB4, 10px -10px var(--spread) 0px #E1306C, 10px 0 var(--spread) 0px #FD1D1D, 10px 10px var(--spread) 0px #F77737, 0 10px var(--spread) 0px #FCAF45, -10px 10px var(--spread) 0px #FFDC80;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-wrapper-57 .checkmark::after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-wrapper-57 .container input:checked~.checkmark::after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-wrapper-57 .container .checkmark::after {
    left: 0.5em;
    top: 0.34em;
    width: 0.25em;
    height: 0.5em;
    border: solid #f0f0f0;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
}

label.tab.tab-primary {
    border-radius: 6pt 0 0 6pt;
}

label.tab.tab-warning {
    border-radius: 0 6pt 6pt 0;
}

#tab-1:checked+label,
#tab-2:checked+label,
#tab-3:checked+label,
#tab-4:checked+label,
#tab-5:checked+label,
#tab-6:checked+label,
#tab-7:checked+label {
    color: #ffadfa;
    color: #ffaa75;
}


.glider {
    width: 12%;
    min-width: 10%;
    padding: 0px 13px;
    height: 20px;
    border-radius: 0 0 1px 1px;
    position: absolute;
    background-color: #A100FA;
    /* background: linear-gradient(90deg, #b9326f 0%, #ff5ddc 100%); */
    /* box-shadow: 0px 0px 8px 0px rgba(231, 13, 93, 0.57); */
    transition: all 0.3s;
    top: 68px;
    z-index: 2;
    left: 2%;

}

#tab-1:checked~.glider {
    left: 1.1%;

}

#tab-2:checked~.glider {
    left: 15.4%;

}

#tab-3:checked~.glider {
    left: 29.5%;
}

#tab-4:checked~.glider {
    left: 43.6%;
}

#tab-5:checked~.glider {
    left: 57.7%;
}

#tab-6:checked~.glider {
    left: 71.9%;
}

#tab-7:checked~.glider {
    left: 86%;
}