.container {
    margin-top: 10rem;
    border-radius: 28px;
    background-color: #ddd;
    padding: 1rem 3rem 2rem 3rem;
    color: #666;

}

h3 {
    margin-bottom: 2rem;
}

.product-section {
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 28px 0 0 28px;
    padding: 2rem;
    background-color: #fff;
}

.summary-section {
    background-color: #ddd;
    border-radius: 0 28px 28px 0;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.summary-wrapper {
    margin-top: 3rem;
    text-align: start;
    padding-left: 2rem;
}

tbody td img {
    height: 150px;
    width: 150px;
    border: 4px solid #ccc;
}


thead th {
    font-size: 1.5rem;
}

table .icons {
    font-size: 1.5rem;
    margin: 0 5px;
    cursor: pointer;

}

table .icons.trash {
    color: red;
}

tbody tr td {
    vertical-align: middle;
}

.total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.total.price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.total.price div {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;

}

.summary-section span {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: start;
    margin-bottom: 10px;
}

.shipping,
.promotion {
    text-align: start;
}

.promotion {
    display: flex;
    flex-direction: column;
}

.promotion input,
.shipping select {
    height: 40px;
    padding-left: 10px;
    margin-bottom: 3rem;
    border: none;
    border-radius: 10px;
}

.unit-total {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    font-weight: 700;
    color: #666;
    ;
}

.amount {
    font-size: 1.5rem;
    font-weight: 700;
    color: #666 !important;
}
.amount .icons{
    margin: 0 1rem;
}

.name {
    text-align: start;
}

.btn-div {
    width: 100%;
}