* {
    --active-background: rgba(252, 106, 83, 0.6);
    --completed-background: rgba(75, 191, 82, 0.5);
    --primary-background: rgba(173, 217, 209, 1);
    --primary-textcolor: #444;
}

.tables {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    align-items: self-start;
    padding: 0 20px 20px 20px;

}

.img-box-small {
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.last-appointments,
.doctor-visiting {
    min-height: 350px;
    margin-top: 20px;
    background: #fff;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 28px;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #444;

}

.btn {
    padding: 5px 10px;
    background: var(--primary-background);
    color:var(--primary-textcolor);
    text-decoration: none;
    text-align: center;
    border-radius: 28px;
}

table {
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
   
}

thead td {
    font-weight: 600;
    color: #333;
}

thead th {
    font-weight: 600;
    color: #333;
    text-align: start;
    padding-bottom: 5px;
}

table tr {
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}


table tr.active {
    background: var(--active-background);
}

table tr.completed {
    background: var(--completed-background);
    text-decoration: line-through;
}

tr.gap-line {
    height: 5px;
}

tbody tr:hover {
    background: #444;
    color: #fff;
}

tbody table tr:last-child {
    border-bottom: none;
}

td {
    padding: 9px 5px;
}

td .icons {
    padding: 7px;
    color: #fff;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-left: 5px;
}

.last-appointments table tbody td:last-child {
    white-space: nowrap;
}

td .icons.tick {
    background: #32bea6;
    cursor: pointer;
}
td .icons.edit{
    background: #4BB2F2;
    cursor: pointer;
}


td .icons.trash,
td .icons.tick.notSeen {
    background: #ed5564;
    cursor: pointer;
}
